<p id="notice"><%= notice %></p>




<div class="container mt-4">
  <div class="cards">
    <button class="btn btn-dark btn-lg"><%= link_to 'Add a Cocktail', new_cocktail_path %></button>
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill  if cocktail.photo.attached?%>')">
        <h5>  <%= cocktail.name %> </h5>
        <small> <%= link_to 'Show', cocktail %> |
        <%= link_to 'Delete', cocktail, method: :delete %> </small>
      </div>
    <% end %>
  </div>
</div>
