<h1>Add cocktail</h1>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
   <%= f.input :photo, as: :file %>
  <%= f.button :submit, class:"btn btn-dark" %>
<% end %>
<hr/>
<button class="btn btn-dark"><%= link_to 'Back to cocktails', cocktails_path %></button>
