<div class="grid-banner" style="background-image: url('<%= @cocktail.image.attached? ? url_for(@cocktail.image) : asset_path("placeholder.jpg") %>')">
  <h1><%= @cocktail.name %></h1>
</div>

<div class="show-grid">
  <div>
    <h3>Description:</h3>
    <p>
      <%= @cocktail.description %>
    </p>
  </div>

  <div>
    <h3>Ingredients</h3>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li>
          <%= dose.description %> ~ <%= dose.ingredient.name %>
          <%= link_to cocktail, method: :delete, data: { confirm: "Are you sure?" }, class: "delete-btn" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <button class="btn btn-dark">
    <%= link_to 'Add ingredients', new_cocktail_dose_path(@cocktail) %> 
    <i class="fas fa-plus"></i>
  </button>

  <button class="btn btn-dark">
    <%= link_to 'Back to cocktails', cocktails_path %> 
    <i class="fas fa-undo-alt"></i>
  </button>
</div>
