<!DOCTYPE html>
<html>
  <head>
    <title>Le Wagon Cocktails 504</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



       <div class="banner">
      <%= link_to cocktails_path do %>
      πΈπΈπΈπΈπΈ
      <%= image_tag "logo.png", alt: "Le Wagon", width: 300 %>
      πΈπΈπΈπΈπΈ
    <% end %>
    </div>
    <div class="container">



    <%= yield %>
    </div>
  </body>
</html>
